#banner{
    align-items: center;
    justify-content: center;
    /* position: relative;
    top: 4em; */
    border-bottom: 1px solid black;
    display: flex;
    background-image: url(./assets/fondo.png) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* filter:brightness(1.1);para quitarle el fondo blanco a la imagen
    mix-blend-mode: multiply; */
    margin-top: 4em;
    height:4em;
}

#banner .contenedor{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#banner h1{
    font-size:30px;
    text-transform: uppercase;
    filter:brightness(1.1);/*para quitarle el fondo blanco a la imagen*/
    mix-blend-mode: multiply;
    margin-top: 6px;
    white-space: nowrap;/*para que el titulo se escriba en una misma linea*/
}

#banner a{
    display: block;
    margin-top: 10px;
}

.banner{
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    width: 100%;
}

.flecha-izq {
    height: 3vh;
    width: 9vw; 
    background: 0 0;
    position: absolute;
    top: -6px;
    left: 5px;
}

.flecha-der{
    height: 3vh;
    width: 9vw; 
    background: 0 0;
    position: absolute;
    position: absolute;
    top: -6px;
    right: 5px;
}


/* #banner{
     margin-top:15vh; 
    position: relative;
    background: yellow;
    height: 10vh;
    display: flex;
    border-top:1px solid black;
    border-bottom:1px solid black;
    align-items: center;
    justify-content: center;
}

#banner .banner{
    height: 5vh;
    width:30vw ;
    display: inline-block;
    text-align: center;
}

h1{
    text-transform: uppercase;
    background: 0 0;
} }  */

@media(min-width:480px){
    #banner h1{
        font-size: 60px;
    }

    #banner{
        height: 6em;
    }
}