#details {
    display: flex;
    position: relative;
    top:20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#details article {
    border: 2px solid black;
    margin: 20px;
    display: flex;
}

.imaDet {
    border-right: 2px solid black;
    padding: 20px;
    width: 30em;
    height: 10em;
}

.imaDet img {
    height: 100%;
    width: 100%;
}

.detalles {
    margin: 15px;
    text-align: justify;
}

.detalles h4 {
    text-align: center;
}

@media (max-width:600px) {
    #details article {
        display:block;
    }

    .imaDet{
        padding: 5px;
        width: 100%;
    }

    .imaDet img {
        height: 100%;
        width: 100%;
    }
}