#lupa{
    width: 30px;
    height: 30px;
}

.nav-item{
  margin:20px;
  float:left;
}

.navbar-nav{
  margin-left: 10px;
}

.d-flex{
  margin-right: 20px;
}

.btn-outline-success {
  background: linear-gradient(rgb(206, 179, 174), greenyellow);

}
 

  