@import url(menu.css);
@import url(banner.css);
@import url(seccion_cbox.css);
@import url(seccion_imagenes.css);
@import url(footer.css);
@import url(details.css);

@font-face {
    font-family: julee;
    src: url(fuentes/Julee-Regular.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: julee;
    box-sizing: border-box;
    /*cuando se le da border o padding no se salga del modelo de caja*/
    /* background: rgb(233, 212, 228); */
}

body {
    margin: 0 auto;
    font-family: julee;
}

main {
    height: 100%;
    width: 100%;

}

header {
    width: 100%;
    height: 4em;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

/* section {
    width: 100%;
    height: 12vh;
    margin-bottom: 25px;
} */


footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 8em;
    width: 100%;
    background: black;
    padding: 6px;
}


@media (max-width:760px) {

    header label {
        display: block;
    }


    .logo {
        position: relative;
        left: 7em;
        bottom: 6px;
        width: 40%;
    }


    .loEmpresa {
        width: 90%;
        height: 2em;
        margin-top: 8px;
    }

    footer .contenedor {
        align-items: center;
        text-align: center;
    }

    .icon {
        margin: 5px;
    }

    footer h2 {
        margin-top: 0;
        margin-right: 6em;
    }

    #imagenes .contenedor {
        flex-wrap: wrap;
        /* para que los elementos que no quepan se bajen*/
    }

    #imagenes article {
        width: 100%;
        min-height: 26em;
    }

    #seccion2 {
        display: flex;
    }

    .container-4 {
        align-content: center;
        display: flex;
        display: block;
    }

    .navbar-toggler {
        color: white !;
    }
}


/* formulario */
.row {
    color: black;
    font-size: 3em;
    margin-top: 6em;
    gap: 5px;
    background-image: url(Assets/fondo1_form.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.boton {
    float: right;
    margin-bottom: 2em;
    margin-top: 10px;
    padding: 3px 15px;
    background: linear-gradient(rgb(206, 179, 174), greenyellow);
    font-size: 30px;
    box-shadow: 8px 8px;
}

/* tabla */
h1 {
    text-align: center;
    margin-top: 1em;
}

h4 {
    text-align: left;
}

.normal {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

table td {
    width: 25%;
    height: 2em;
    padding: 10px;
    border: 1px solid #000;
    background: rgb(236, 204, 215);

}

#titulos {
    width: 25%;
    height: 2em;
    border: 1px solid #000;
}

table th {
    width: 25%;
    height: 2em;
    border: 1px solid #000;
}

table tr {
    background: rgb(238, 234, 241);
}